<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Welcome to my portfolio</h1>
    <p>This is my personal portfolio, where you can find information related to me</p>
    <p>As well as a personal blog where i write personal/technical information and my projects </p>
  </div>
</div>